
.card {
  background-color: #677077;
  height: 100%;
}

.card:hover {
  transform: rotateY(180deg);
  transition: 0.6s;
	transform-style: preserve-3d;
  backface-visibility: hidden;

}

.item {
  composes: item from "./_flex.css";
  padding: 1rem;
}

.story {
  text-decoration: none;
  display: block; 
  color: white; 
  padding: 1rem;
}


